body {
  display: flex;
  width: 100%;
  user-select: none;
}
#navBar {
  display: flex;
  flex-direction: column;
  width: 260px;
  height: 100vh;
  background-color: var(--main-color-light);
}

#headerContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
}
#headerPicture {
  width: 40px;
  margin: 0 8px;
}
#headerTitle {
  font-family: 'JetBrains Mono', serif;
  font-size: 28px;
  letter-spacing: 0.1rem;
  color: var(--main-color);
  text-shadow: 3px 3px 1px #5b5b5b;
}

#profileContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 16px;
  font-family: 'GyeonggiTitleM', serif;
}
#welcomeText {
  font-size: 16px;
  margin-top: 6px;
}
#logoutBtn {
  margin-top: 10px;
  font-size: 12px;
}
#userProfileIcon {
  width: 70px;
}

#menuContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 0 auto;
  font-family: 'GyeonggiTitleM', serif;
}
#calendarMenuContainer,
#mypageMenuContainer {
  display: flex;
  align-items: center;
  width: fit-content;
  margin-left: 64px;
  margin-top: 48px;
  margin-bottom: 48px;
  transition: all 0.1s ease-out;
  cursor: pointer;
}
#calendarMenuContainer:hover,
#mypageMenuContainer:hover {
  transform: scale(1.1);
}
.menuIcon {
  width: 40px;
}
#calendarIcon {
  margin-right: 10px;
}
#mypageIcon {
  margin-right: 6px;
}

/* main */

#mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 auto;
  font-family: 'GyeonggiTitleM', serif;
}
#contentsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#mypageText {
  margin-bottom: 30px;
  font-size: 36px;
  font-weight: 100;
}
#inputContainer {
  display: flex;
  flex-direction: column;
}
.inputBox {
  margin-top: 30px;
  width: 320px;
  height: 30px;
  font-size: 18px;
  letter-spacing: 0.2rem;
  background-color: transparent;
  border-bottom: 2px solid var(--main-color);
  transition: all 0.2s ease-in-out;
}
.inputBox:focus {
  border-bottom: 4px solid var(--main-color-dark);
}
#teamText,
#positionText {
  display: flex;
  align-self: center;
  font-size: 20px;
  margin-top: 30px;
}
#teamInputContainer,
#positionInputContainer {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
.teamInput,
.positionInput {
  display: none;
}
.teamInput:checked + label,
.positionInput:checked + label {
  background-color: var(--main-color-dark);
  color: #fff;
  transform: scale(1.05);
}
.teamInputLabel,
.positionInputLabel {
  display: inline-block;
  cursor: pointer;
  width: 70px;
  height: 28px;
  line-height: 28px;
  margin: 0 10px;
  text-align: center;
  font-weight: bold;
  font-size: 13px;
  border-radius: 100px;
  border: 2px solid var(--main-color);
  background-color: transparent;
  transition: all 0.1s ease-out;
}
.teamInputLabel:hover,
.positionInputLabel:hover {
  transform: scale(1.05);
}
#goBackBtn {
  margin-top: 14px;
  font-size: 12px;
}
#modifyBtn {
  margin-top: 40px;
  width: 110px;
  height: 34px;
  border-radius: 100px;
  background-color: var(--main-color);
  color: #ffffff;
}
